<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контроль</title>
    <link href="../css/bootstrap.min.css"  rel="stylesheet" />
    <link href="../css/base_styles.css"  rel="stylesheet" />
</head>
{% block baseStyles%}
{% endblock %}


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 mb-3">
        <a class="navbar-brand" style="padding-left:16px" href="#">
            <img src="../img/logo.png" width="30" height="30" alt="">
            Контроль
        </a>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/main">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/camList">Камеры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/editCamera?new=true">Новая камера</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/getData">Экспорт данных</a>
            </li>
          </ul>
        </div>
      </nav>

    {% block main %}
    
    {% endblock main %}  
</body>


<script src="../js/jquery-3.7.1.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
{% block baseScripts %}
{% endblock %}
</html>
