{% extends 'base.html' %}

{% block baseStyles %}
    <link href="../css/camera_edit_page_styles.css"  rel="stylesheet" />
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div id="ggg" class="w-100 h-100" style="position: relative; max-height: 350px;" >
                <img id="camera_img" src="../img/basic_img.jpg" alt="" class="camera_image">
                <canvas id="canvas" class="markup_area"></canvas>
                <canvas id="canvas_draw" class="markup_area"></canvas>    
            </div>
            <button class="btn btn-light" id="update_img_btn" onclick="fetchUpdateImg()">Обновить</button>
            <button class="btn btn-light" id="clear_rect" onclick="removeBox(); defaultValues()" style="display: none;">Очистить</button>
        </div>
        <div class="col-6 action_cols">
            <div class="row">
                <div class="text w-50">Имя камеры</div>
                <input class='w-50 camValues' type="text" id="cam_name" value="{{cam.name}}">
            </div>
            <div class="row">
                <div class="text w-50">Подключение</div>
                <input class='w-50 camValues' type="text" id="cam_route">
            </div>
            <div class="row">
                <div class="text w-50">Матрица коэфициентов</div>
                <input type="file" id="coefFile" class="w-50 p-1 border" onchange="getmatrix(this)" style="background-color: #f8f9fa !important; border-radius: 3px;"> 
            </div>
            <textarea class='row w-100 m-2 camValues' type="text" id="cam_coefs" disabled></textarea>
            <div class="row text w-50">
                <div>Контроль ям</div>
                <button onclick="addBox()">Добавить яму</button>
            </div>
            <div class="row">
                <div class="col boxesColumn" >
                    <text id="missingText">Отсутствуют</text>
                </div>
            </div>
            <div class="row flex-row-reverse">
                <button id="del" class="btn btn-danger w-25 m-2" onclick="delCamera()">Удалить</button>
                <button id="save" class="btn btn-success w-25 m-2" onclick="saveCameraParams()" disabled>Сохранить</button>
            </div>
        </div>
    </div>
</div>

{% endblock main %}

{% block baseScripts %}
    <script>
        camera= [];
        let boxes = new Map();

        let canvas = document.getElementById('canvas');
        let canvasDraw = document.getElementById('canvas_draw');
        let defaultColor = 'rgb(255, 230, 0)';
        let highlightColor = 'rgb(44,224,23)';

        let ctx = null;
        let ctxDraw = null;
        if (canvas.getContext) {
            console.log('getContext');
            ctx = canvas.getContext("2d");
        }
        if (canvasDraw.getContext) {
            console.log('getContext');
            ctxDraw = canvasDraw.getContext("2d");
        }


        let rectDots = [];
        let rectDrawn = false;
        let viewBoxes = [];
        let editBoxBool = false;
        let resp = null;
        let fieldsChanged = false;
        let camMatrix = []

        async function fetchUpdateImg(){
            let data = JSON.stringify({'cam_sec_id':camera[1].slice(-1)[0]})
            console.log(data)
            await fetch('http://localhost:4997/getCameraPicture', {
                credentials: "include",
                method: "POST", 
                cors: "no-cors",
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                },
                body: data
            })
            .then(response => response.json())
            .then((response) => {
                resp = response;
                console.log(response)
               document.getElementById('camera_img').src = `data:image/png;base64, ${response.data.b64img}`;
            })
        }
            
        async function fetchSetCameraSector() {
            for (val of $('.camValues'))
            {
                console.log(val.value)
                if (val.value === '') {
                    alert('Введите всю информацию о камере')
                    return false
                }
            }

            console.log('setCameraSector')
            if (camera[2]){
                data = {
                    'name': camera[0],
                    'route': camera[1][0],
                    'matrix': camera[1][1],
                    'coefs': camera[1][2],
                    'cam_sec_id' : camera[2]
                }
            }
            else {
                data = {
                    'name': camera[0],
                    'route': camera[1][0],
                    'matrix': camera[1][1],
                    'coefs': camera[1][2]
                }
            }
            console.log(data)

            data = JSON.stringify(data)

            return await fetch('http://localhost:4997/setCameraSector', {
                credentials: "include",
                method: "POST", 
                cors: "no-cors",
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                },
                body:data
            })
            .then((response) => response.json())
            .then((response) => {
                if (response['/setCameraSector'] === true){
                    console.log(response)
                    camera[2] = response['data']['cam_sec_id']
                    camera[1][3] = response['data']['camera'][3]
                    $('#save').attr('disabled', 'disabled')
                    return true
                } 
                else{
                    console.log(response)
                    alert(`Камера не сохранена. Ошибка:\n${response['data']['description']}`)
                    return false
                } 
            })
        }
        async function saveCameraParams(){
            camera[0] = $('#cam_name')[0].value
            camera[1] = [$('#cam_route')[0].value, camMatrix[0], camMatrix[1]]

            let response = await fetchSetCameraSector()
            console.log(1)
            return response
        }

        async function fetchSetBox(key) {
            box = boxes.get(key)
            if (key !== 'new_box'){
                data = {
                    'x1':box[0],
                    'y1':box[1],
                    'x2':box[2],
                    'y2':box[3],
                    'box_name': box[4],
                    'cam_sec_id':camera[2],
                    'box_id':key
                }
            }
            else {
                data = {
                    'x1':box[0],
                    'y1':box[1],
                    'x2':box[2],
                    'y2':box[3],
                    'box_name': box[4],
                    'cam_sec_id':camera[2]
                }
            }
            console.log('data', data)
            data = JSON.stringify(data)
            let response = await fetch('http://localhost:4997/setBox', {
                credentials: "include",
                method: "POST", 
                cors: "no-cors",
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                },
                body:data
            })
            .then((response) => response.json())
            .then((response) => {
                if (response['/setBox'] === true){
                    console.log(response)
                    let box_id = response['data']['box'].slice(-1)[0]

                    boxes.set(box_id, boxes.get(key))
                    boxes.delete('new_box')
                    $('#boxRow_new_box').remove()
                    highlightRect(ctxDraw, defaultColor)
                    removeBox()
                    clearCanvas(ctx, false)
                    displayBoxList()
                    return true
                } 
                else{
                    console.log(response)
                    alert(`Бокс не сохранен. Ошибка:\n${response['data']['description']}`)
                    return false
                } 
            })
            return response
        }

        async function addBox(){
            if (fieldsChanged | camera.length === 0){
                let response = await saveCameraParams()
                console.log('resp', response)
                if (!response) return
            }
            console.log(camera)
            fieldsChanged = false
            if (boxes.get('new_box')){
                alert('Перед добавлением нового бокса, пожалуйста, сохраните предыдущий');
            }
            else {
                $('#missingText').remove()
                $('.boxesColumn').append(`<div class="boxRow" id='boxRow_new_box'>
                    <input id="boxName_new_box" type="text" class="boxName w-50" onchange="">
                    <div class="buttonsSector">
                        <button id="edit_new_box" class="editBox btn btn-primary" onclick="editBox('new_box')">edit</button>
                        <button id="del_new_box" class="delBox btn btn-danger" onclick="delBox('new_box')">del</button>
                        <button id="confirm_new_box" class="confirmBox btn btn-success" disabled onclick="saveBox('new_box')">ok</button>
                    </div>
                </div>`)
                boxes.set('new_box', []);
                editBox('new_box')
            }
        }

        async function fetchDelCamera(){
            let response = await fetch(`http://localhost:4997/delCameraSector?cam_sector_id=${camera[2]}`, {
                credentials: "include",
                method: "GET", 
                cors: "no-cors",
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                }
            })
            .then((response) => response.json())
            .then((response) => {
                if (response['/delCameraSector'] === true){
                    console.log(response)
                    return true
                } 
                else{
                    console.log(response)
                    alert(`Камера не удалена. Ошибка:\n${response['data']['description']}`)
                    return false
                } 
            })
            return response
        }

        function delCamera(){
            if (confirm('Подтвердить удаление камеры?')){
                let response = fetchDelCamera()
                if (response) window.location.replace(`http://127.0.0.1:4997/camList`);
            }
        }

        function editBox(key){
            if (!editBoxBool){
                changeButtonsVisibility(false, key)

                // if (rectDots.length > 0) highlightRect(ctx, defaultColor);
                defaultValues();
                editBoxBool = true;
                val = boxes.get(key)

                if (val.length > 0){
                    console.log(val);

                    // не допустить удаления остальных боксов в случае пересечения с выбранным
                    redrawCanvas(key);
                    let coords = percentToCoords(val);
                    rectDots.push([coords[0], coords[1]]);
                    rectDots.push([coords[2], coords[3]]);
                    drawRect(ctxDraw);
                    highlightRect(ctxDraw);
                }   
            }
        }
        async function saveBox(key){
            let box = boxes.get(key);
            let box_name = $(`#boxName_${key}`)[0].value;
            if (box_name === ''){ alert('Укажите название бокса'); return;}
            if (rectDots.length === 0){ alert('Обозначьте координаты бокса на камере'); return;}
            let val = coordsToPercent();
            val.push(box_name);
            console.log(val);
            boxes.set(key, val);
            let response = await fetchSetBox(key)
            if (response){
                console.log(boxes);
                // highlightRect(ctxDraw, defaultColor);
                saveCanvas();
                defaultValues();
                editBoxBool = false;
                changeButtonsVisibility(true, key);
                console.log('box saved');
            }
        }

        async function fetchDelBox(key) {
            let response = await fetch(`http://localhost:4997/delBox?box_id=${key}`, {
                credentials: "include",
                method: "GET", 
                cors: "no-cors",
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                }
            })
            .then((response) => response.json())
            .then((response) => {
                if (response['/delBox'] === true){
                    console.log(response)
                    return true
                } 
                else{
                    console.log(response)
                    alert(`Бокс не удален. Ошибка:\n${response['data']['description']}`)
                    return false
                } 
            })
            return response
        }

        async function delBox(key){
            if (confirm('Подтвердить удаление бокса?')){
                let response = await fetchDelBox(key)
                if (response) {
                    if (boxes.get(key).length > 0){
                        setRectDots(boxes.get(key));
                        removeBox(editBoxBool ? ctxDraw : ctx);
                    }
                    defaultValues();
                    boxes.delete(key);
                    $(`#boxRow_${key}`).remove();
                    redrawCanvas(key);
                    editBoxBool = false;
                    changeButtonsVisibility(true, key)
                    }
            }
        }

        function displayBoxList(){
            $('.boxesColumn').empty()
            boxes.forEach(function(val, key, map){
                defaultValues()
                viewBoxes.push(key)
                $('.boxesColumn').append(`<div class="boxRow" id='boxRow_${key}'>
                    <input id="boxName_${key}" type="text" class="boxName w-50" onchange="" value="${val[4]}" disabled>
                    <div class="buttonsSector">
                        <button id="edit_${key}" class="editBox btn btn-primary" onclick="editBox(${key})">edit</button>
                        <button id="del_${key}" class="delBox btn btn-danger" onclick="delBox(${key})">del</button>
                        <button id="confirm_${key}" class="confirmBox btn btn-success" disabled onclick="saveBox(${key})">ok</button>
                    </div>
                  </div>`)
                setRectDots(val);
                drawRect(ctx);
                defaultValues();
            })
        }

        function getmatrix(input){
            let file = input.files[0];

            let reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function() {
                response = reader.result.split(';')
                console.log(response);
                camMatrix = response
                $('#cam_coefs').text(`${camMatrix[0]}\n${camMatrix[1]}`)
            };
            reader.onerror = function() {
                console.log(reader.error);
                alert(reader.error);
            };

        }
        

        function redrawCanvas(key){
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            boxes.forEach(function(val, key_redraw, map){
                if (key !== key_redraw){
                    setRectDots(val);
                    drawRect(ctx);
                    defaultValues();
                };
            })
        }
        function setRectDots(val){
            let coords = percentToCoords(val);
            rectDots.push([coords[0], coords[1]]);
            rectDots.push([coords[2], coords[3]]);
        }

        function percentToCoords(val){
            let x1 = val[0]/100 * canvas.width;
            let y1 = val[1]/100 * canvas.height;
            let x2 = val[2]/100 * canvas.width;
            let y2 = val[3]/100 * canvas.height;
            console.log(val[0], val[1], x1, y1);
            return [x1, y1, x2, y2];

        }
        function coordsToPercent(){
            let x1 = rectDots[0][0]*100 / canvas.width;
            let y1 = rectDots[0][1]*100 / canvas.height;
            let x2 = rectDots[1][0]*100 / canvas.width;
            let y2 = rectDots[1][1]*100 / canvas.height;
            console.log(x1, y1, x2, y2);
            return [x1, y1, x2, y2];
        }
        function drawCircle(currentCtx, x, y, color=defaultColor) {
            currentCtx.save();  // Сохранение текущего состояния
            currentCtx.setTransform(1, 0, 0, 1, 0, 0);  // Сброс трансформаций
            currentCtx.beginPath();
            currentCtx.arc(x, y, 1, 0, Math.PI * 2);
            currentCtx.strokeStyle = color;
            currentCtx.stroke();
            currentCtx.restore();  // Восстановление состояния после рисования
        }
        function drawRect(currentCtx, color=defaultColor){
            currentCtx.save();
            currentCtx.beginPath();
            drawCircle(currentCtx, rectDots[0][0], rectDots[0][1], color);
            drawCircle(currentCtx, rectDots[1][0], rectDots[1][1], color);
            currentCtx.rect(rectDots[0][0], rectDots[0][1], rectDots[1][0]-rectDots[0][0], rectDots[1][1] - rectDots[0][1]);
            currentCtx.strokeStyle = color;
            currentCtx.stroke();
            currentCtx.restore();
            rectDrawn = true;
        }
        function clearCanvas(currentCtx=ctxDraw, warning){
            let permision = true
            if (warning){
                permision = confirm('Удалятся все координаты боксов, продолжить?')
            }
            currentCtx.clearRect(0, 0, canvas.width, canvas.height);
            defaultValues();
        }
        function defaultValues(){
            rectDots = [];
            rectDrawn = false;
        }
        function changeButtonsVisibility(visibility, key){
            if (visibility){
                $('#clear_rect').css('display', 'none');
                $('.editBox').removeAttr('disabled');
                $('.delBox').removeAttr('disabled');
                $(`#confirm_${key}`).attr('disabled','disabled');
                $(`#boxName_${key}`).attr('disabled','disabled');
            }
            else if (!visibility){
                $('#clear_rect').css('display', 'inline-block');
                $('.editBox').attr('disabled','disabled');
                $('.delBox').attr('disabled','disabled');
                $(`#confirm_${key}`).removeAttr('disabled');
                $(`#boxName_${key}`).removeAttr('disabled');
                // $(`#edit_${key}`).removeAttr('disabled');
                $(`#del_${key}`).removeAttr('disabled');
            }
        }
        function removeBox(currentCtx=ctxDraw){
            if (rectDots.length > 0){
                x = Math.min(rectDots[0][0], rectDots[1][0]);
                y = Math.min(rectDots[0][1], rectDots[1][1]);
                currentCtx.clearRect(x-2, y-2, Math.abs(rectDots[1][0]-rectDots[0][0])+4, Math.abs(rectDots[1][1] - rectDots[0][1])+4);
            }
        }
        function highlightRect(currentCtx=ctxDraw, color = highlightColor){
            console.log(rectDots);
            removeBox(currentCtx);
            drawCircle(currentCtx, rectDots[0][0], rectDots[0][1], color);
            drawCircle(currentCtx, rectDots[1][0], rectDots[1][1], color);
            drawRect(currentCtx, color)
        }
        function drawUp(){
            console.log('drawUp')
            console.log('drawUp')
            $('#canvas_draw').click(function(e){
                let rect = canvasDraw.getBoundingClientRect();  // Получаем размеры канваса относительно окна
                let scaleX = canvasDraw.width / rect.width;     // Коэффициент масштабирования по X
                let scaleY = canvasDraw.height / rect.height;   // Коэффициент масштабирования по Y
            
                if (rectDots.length === 2 & editBoxBool){
                    removeBox();
                    defaultValues();
                }
                console.log('clickDraw')
                if (rectDots.length < 2 & editBoxBool){
                // if (rectDots.length < 2 && editBoxBool){
                    let x = (e.clientX - rect.left) * scaleX;
                    let y = (e.clientY - rect.top) * scaleY;
                    console.log("x: " + x + " y: " + y);
                    rectDots.push([x,y]);
                    ctxDraw.moveTo(x, y);
                    drawCircle(ctxDraw, x, y, highlightColor);
                }
                if (rectDots.length == 2 & !rectDrawn){
                    drawRect(ctxDraw, highlightColor);
                }
            })
        }
        function checkChange(){
            $('.camValues').on('input', function(){
                fieldsChanged = true;
                $('#save').removeAttr('disabled')
            });
        }
        function saveCanvas(){
            ctx.drawImage(canvasDraw, 0, 0);
            ctxDraw.clearRect(0, 0, canvasDraw.width, canvasDraw.height);
        }

        async function imgContextMenu(){
            canvasDraw.addEventListener('contextmenu', (event) => {
                canvasDraw.style.pointerEvents = 'none';
                canvas.style.pointerEvents = 'none';

                setTimeout(() => {
                    canvasDraw.style.pointerEvents = 'auto';
                    canvas.style.pointerEvents = 'auto';
                }, 0)

                
            });
        }

        {% if cam is defined and cam %}
            
            {% if cam.getCamera() %}
                camera = ['{{cam.name}}', {{cam.getCamera().getInfo() | tojson}}, {{cam.id}}]
                $('#cam_route').val(camera[1][0])
                $('#cam_coefs').text(`${camera[1][1]}\n${camera[1][2]}`)
            {% else %}
                camera = ['{{cam.name}}', []]
            {% endif %}
            $('#cam_name').val(camera[0])

            {% for box in cam.getBoxes() %}
            boxes.set({{box.id}}, [{{box.x1}}, {{box.y1}}, {{box.x2}}, {{box.y2}}, '{{box.name}}'] );
            {% endfor %}
            displayBoxList()
            
        {% endif %}
        checkChange()
        drawUp()
        imgContextMenu()

        
    </script>
{% endblock %}


